<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- All imports are local routing or cdns -->
    <link 
        rel="stylesheet"
        crossorigin="anonymous"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    /> <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="../css/global.css"><!-- Link to CSS file -->
</head>

<!-- This comment was made so a new pull request could be sent remove the next time someone works on this -->

<body class="mbMD">
    <header class="row">
        <div class="col-1"><img src="../images/logo.png" alt="Reel-Ratings Logo" class="img-fluid" id="mainLogo"></div>
        <div class="col-md-5 offset-1 input-group">
            <input class="brAll" type="search" value="search by name genre or tag" id="searchBar">
            <div class="col-1 offset-2 input-group-text"><img src="../images/bsIconPerson.svg" class="img-fluid"></div>
        </div>
        <div class="row fontWhite textCenter">
            <div class="col-2 offset-1">Movies</div>
            <div class="col-2 vDiv">TV Shows</div>
            <div class="col-2 vDiv">Genres</div>
            <div class="col-2 vDiv">Friends</div>
            <div class="col-2 vDiv">Reviews</div>
        </div>
    </header>
    <body>
        <div class="row"> <!-- Start of cards -->
            <div class="col-10 offset-1">
                <div class="col-12 fontWhite mtMD">New Releases</div>
                <div class="row"> <!-- Start of New Releases -->
                    <div class="movieCard bgNeutral card col-3 ptXXSM">
                        <img src="../images/background.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">Card title</div>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <a  data-bs-toggle="modal" data-bs-target="#showMoreModal" class="btn bgPrimary fontWhite fullWidth">Show More</a>
                        </div>
                    </div>
                    <div class="movieCard bgNeutral card col-3 ptXXSM">
                        <img src="../images/background.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">Card title</div>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <a  data-bs-toggle="modal" data-bs-target="#showMoreModal" class="btn bgPrimary fontWhite fullWidth">Show More</a>
                        </div>
                    </div>
                    <div class="movieCard bgNeutral card col-3 ptXXSM">
                        <img src="../images/background.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">Card title</div>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <a  data-bs-toggle="modal" data-bs-target="#showMoreModal" class="btn bgPrimary fontWhite fullWidth">Show More</a>
                        </div>
                    </div>
                    <div class="movieCard bgNeutral card col-3 ptXXSM">
                        <img src="../images/background.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">Card title</div>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <a  data-bs-toggle="modal" data-bs-target="#showMoreModal" class="btn bgPrimary fontWhite fullWidth">Show More</a>
                        </div>
                    </div>
                </div> <!-- End of New Releases -->
                <div class="col-12 fontWhite mtMD">Most Reviewed</div>
                <div class="row">  <!-- Start of Most Reviewed -->
                    <div class="movieCard bgNeutral card col-3 ptXXSM">
                        <img src="../images/background.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">Card title</div>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <a  data-bs-toggle="modal" data-bs-target="#showMoreModal" class="btn bgPrimary fontWhite fullWidth">Show More</a>
                        </div>
                    </div>
                    <div class="movieCard bgNeutral card col-3 ptXXSM">
                        <img src="../images/background.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">Card title</div>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <a  data-bs-toggle="modal" data-bs-target="#showMoreModal" class="btn bgPrimary fontWhite fullWidth">Show More</a>
                        </div>
                    </div>
                    <div class="movieCard bgNeutral card col-3 ptXXSM">
                        <img src="../images/background.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">Card title</div>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <a  data-bs-toggle="modal" data-bs-target="#showMoreModal" class="btn bgPrimary fontWhite fullWidth">Show More</a>
                        </div>
                    </div>
                    <div class="movieCard bgNeutral card col-3 ptXXSM">
                        <img src="../images/background.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">Card title</div>
                            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                            <a  data-bs-toggle="modal" data-bs-target="#showMoreModal" class="btn bgPrimary fontWhite fullWidth">Show More</a>
                        </div>
                    </div>
                </div> <!-- End of Most Reviewed -->
            </div> <!-- End of format Col -->
        </div>  <!-- End of cards -->
        <div class="modal" tabindex="-1" id="showMoreModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header row">
                        <h5 class="modal-title col-4">"Movie Title"</h5>
                        <div id="rateToggle" class="offset-1 col-4">Rate "Movie Title"</div>
                        <button type="button" class="btn-close modalClose" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="col-6"><img src="../images/background.png" class="img-fluid"></div>
                        <div class="col-6" id="generalContent">
                            <div class="row">
                                <div class="mdFont col-12">General</div>
                                <div id="generalContent" class="ofVert">
                                    <div>Actors</div>
                                    <div id="actorsContainer"></div>
                                    <div>Seasons</div>
                                    <div id="seasonContainer"></div>
                                    <div>Genres</div>
                                    <div id="genresContainer"></div>
                                    <div>ESRB</div>
                                    <div>ESRB</div>
                                    <div>ESRB</div>
                                    <div>ESRB</div>
                                    <div>ESRB</div>
                                    <div>ESRB</div>
                                    <div>ESRB</div>
                                    <div>ESRB</div>
                                    <div>ESRB</div>
                                    <div id="esrbContainer"></div>
                                </div> <!-- End of General Content -->
                            </div><!-- End of General Container -->
                        </div><!-- End of Row -->
                        <div class="row ofVert mtSM" id="ratingsContainer">
                            <div class="col-12">Ratings</div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                            <div class="tagGroup col-2 mbSM">
                                <div class="tag">Tag 1</div>
                                <div class=" tagScore brAll textCenter">4.5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <!-- JS imports-->
        <script src="../js/controller.js" type="module"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous">
        </script> <!-- Bootstrap 5 bundle -->
    </footer>
</body>

</html>