<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Reel Ratings</title>
    <!-- All imports are local routing or cdns -->
    <link 
        rel="stylesheet" crossorigin="anonymous"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    />
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="../css/global.css"><!-- Link to CSS file -->
</head>

<body class="mbMD">
    <header class="row darkFG g-0 brBottom bcBottom pt-1 pb-1">
        <div class="col-3 offset-1">
            <div class="row">
                <div class="col-2 iconWidth p-0">
                    <img src="../images/list-white.png" class="img-fluid vcToParent" />
                </div> 
                <div class="col-2">
                    <img 
                        src="../images/Reel Rating Logo.png" 
                        alt="Reel-Ratings Logo" 
                        class="img-fluid vcToParent"
                    >
                </div>
                <div class="col-8">
                    <h2 class="text-white mdFont vcToParent">Reel-Ratings</h2>
                </div>
            </div>
        </div>

        <div class="col-3 offset-4">
            <div class="row g-0 vcToParent customShadow">
                <div class="input-group" id="searchContainer">
                    <input class="form-control brAll" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <div class="btPrimaryStyle iconWidth pXL prXXL plXXL brRight" type="submit">
                            <img src="../images/search-white.png" alt="search bar logo" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div id="profileIconContainer" class="iconWidth">
                    <img src="../images/bsIconPerson.png" alt="profile picture" class="img-fluid">
                </div>
            </div>
        </div>
    </header>

    <!-- Start of cards -->
    <div class="row"> 
        <div class="col-10 offset-1">
            <title-with-line
                title="New Movies" fontSize="23px"
                lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                class="mtLG mbLG"
            >
            </title-with-line>
            <div class="carousel slide mtXXSM row" data-bs-ride="carousel" id="recentReleaseCarousel">
                <!-- Filled with JS -->
            </div>
            <title-with-line
                title="Most Reviewed" fontSize="23px"
                lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                class="mtLG mbLG"
            >
            </title-with-line>
            <div class="carousel slide mtXXSM row" data-bs-ride="carousel" id="mostReviewedCarousel">
                <!-- Filled with JS -->
            </div>
        </div>
    </div>




    <!-- Modals -->
    <button 
        type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#showMoreModal">
        Launch demo modal
      </button>
    <div class="modal fade" id="showMoreModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
        <div class="modal-dialog fontWhite hcToWindow">
            <div class="modal-content darkFG">
                <div class="modal-body"><!-- Modal Body -->
                    <div class="row"><!-- Modal Header -->
                        <h2 class="col-6 lgFont fontWhite" id="showMoreTitle"><!--Filled with JS--></h2>
                        <div class="col-6">
                            <div id="modalActionButtonsRow">
                                <a 
                                    class="btCalloutStyle mdFont textCenter brAll hLG rateToggle" 
                                    data-bs-toggle="modal" data-bs-target="#rateModal" id="rateButton"
                                >
                                    <!-- Filled with JS -->
                                </a>
                                <a href="" class="brAll bgNeutral centerImg brAll hLG" target="_blank"><!--Share Button Logo-->
                                    <img src="../images/share.png" alt="Share Button logo" class="img-fluid iconWidth">
                                </a>
                                <a href="" class="discordColor centerImg brAll  hLG" target="_blank"><!--Discord Button Logo-->
                                    <img src="../images/Discord.png" alt="discord-logo Button" class="img-fluid iconWidth">
                                </a>
                                <a class="close brAll" data-bs-dismiss="Modal" aria-label="Close">
                                    <img src="../images/close-purple-with-white-x.png" class="img-fluid iconWidth"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row"> <!-- Top Section container / Row -->
                        <div class="col-6"><!-- Image container -->
                            <img
                                id="showMoreImg" 
                                src="../images/stockImage1.jpg" 
                                alt="Barbie Movie Image" 
                                class="img-fluid brAll"
                            >
                        </div>
                        <div class="col-6" id="showMoreGeneralContainer"><!-- General Information -->
                            <div class="row scrollHidden limitHeight350 pbSM">
                                <title-with-line
                                    title="General" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div class="mtXSM col-12" id="showMoreSummary"><!-- Filled with JS --></div>
                                <div class="mtXSM col-3 mdFont">Director</div>
                                <div class="mtXSM col-3 mdFont">Writer</div>
                                <div class="mtXSM col-3 mdFont">Released</div>
                                <div class="mtXSM col-3 mdFont">Runtime</div>
                                <div class="col-3" id="showMoreDirector"><!-- Filled with JS --></div>
                                <div class="col-3" id="showMoreWriter"><!-- Filled with JS --></div>
                                <div class="col-3" id="showMoreReleaseDate"><!-- Filled with JS --></div>
                                <div class="col-3" id="showMoreRuntime"><!-- Filled with JS --></div>

                                <div class="col-12 mdFont mtXSM">Actors</div>
                                <div class="col-12" id="showMoreActorsContainer"> <!-- Filled with JS --></div>
                                <div class="col-12 mdFont mtXSM">Tags</div>
                                <div class="col-12" id="showMoreTagsContainer"> <!-- Filled with JS --></div>
                                <div id="generalDarkFade"></div>
                            </div> <!-- End of Row -->
                        </div> <!-- End of General -->
                    </div> <!-- End of Top Section -->
                    
                    <div class="row"> 
                        <div class="col-6"><!-- Start of Catg Ratings -->
                            <div class="row limitHeight275 scrollHidden pbSM">
                                <title-with-line
                                    title="Categories" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div id="ratingsContainer"><!-- Filled with JS --></div>
                                <div id="categoriesDarkFade"></div>
                            </div>
                        </div> <!-- End of Catg Ratings -->
                        <div class="col-6">
                            <div class="row scrollHidden limitHeight275 m-0 pbSM">
                                <title-with-line
                                    title="Freinds" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                    class="mbXSM"
                                >
                                </title-with-line>
                                <div id="friendsContainer"></div>
                            </div>
                            <div id="friendsDarkFade"></div>
                        </div>
                    </div>
                </div> <!-- End of Modal Body -->
            </div> <!--END modal Content-->
        </div><!--END Model Dialog -->
    </div><!--END of Show More Model-->  
    
    



    <div class="modal" id="rateModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
        <div class="modal-dialog fontWhite hcToWindow">
            <div class="modal-content darkFG">
                <div class="modal-body"><!-- Modal Body -->
                    <div class="row"><!-- Modal Header -->
                        <h2 class="col-6 lgFont fontWhite">Barbie</h2>
                        <div class="col-6">
                            <div id="ratingActionButtonRow">
                                <a class="bgDarkNeutral mdFont textCenter brAll hLG rateToggle fontWhite" data-bs-dismiss="Modal">Back</a>
                                <a class="close brAll" data-bs-dismiss="Modal" aria-label="Close">
                                    <img src="../images/close-purple-with-white-x.png" class="img-fluid iconWidth"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row"> <!-- Top Section container / Row -->
                        <div class="col-6 limitHeight350 scrollHidden"><!-- Current Ratings -->
                            <div class="row">
                                <title-with-line
                                    title="Existing Ratings" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="9" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="8" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="7" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="6" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="5" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="4" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="3" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="2" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="1" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="2" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="3" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="4" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="5" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div class="col-6 mtXSM"> <!-- Category Rating -->
                                    <div class="row">
                                        <div class="col-10">Category Name</div>
                                        <div class="col-2">8.8</div>
                                        <progress-bar 
                                            scaleStart="1" scaleEnd="10" ratingValue="6" 
                                            lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                        </progress-bar>
                                    </div>
                                </div>
                                <div id="existingCategoriesFade"></div>
                            </div>
                        </div>
                        <div class="col-6 limitHeight350 scrollHidden pbSM"><!-- General Information -->
                            <div class="row g-0">
                                <title-with-line
                                    title="New Rating" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div id="newRatingContainer" class="col-12">
                                    <label id="newRatingLabel" for="newRatingInput">Rating Name</label>
                                    <input type="text" class="fullWidth brAll inputHeight"/>
                                </div>
                                <div id="ratingScaleContainer" class="col-5 mtXSM">
                                    <div class="row g-0">
                                        <div class="col-12">Scale</div>
                                        <div class="col-5">
                                            <label id="ratingScaleLabelStart" for="ratingScaleStart" class="hidden">Start</label>
                                            <select class="form-select brAll" aria-label="Rating scale start" id="ratingScaleStart">
                                                <option selected>Start</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                        <div class="col-2 textCenter">to</div>
                                        <div class="col-5">
                                            <label id="ratingScaleLabelEnd" for="ratingScaleEnd" class="hidden">End</label>
                                            <select class="form-select brAll" aria-label="Rating scale end" id="ratingScaleEnd">
                                                <option selected>End</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="ratingValue" class="col-7 mtXSM plXXSM">
                                    <div class="row">
                                        <div class="col-12">
                                            <label id="newRatingValueLabel" for="newRatingValueInput">Rating Value</label>
                                            <progress-bar 
                                                scaleStart="1" scaleEnd="10" ratingValue="5" 
                                                lowRatingColor="#3d37bf" highRatingColor="#00ff00">
                                            </progress-bar>
                                        </div>
                                    </div>
                                </div>
                                <div class="newRatingButtonsRow mtXSM">
                                    <div id="cancelRating" class="btNegativeStyle brAll ptSM pbSM textCenter mtXSM mbXSM">Clear</div>
                                    <div id="shareRating" class="bgDarkNeutral brAll ptSM pbSM mtXSM mbXSM textCenter">Public</div>
                                    <div id="submitRating" class="btPrimaryStyle brAll ptSM pbSM mtXSM mbXSM textCenter">Create Rating</div>
                                </div>
                            </div> <!-- End of Row -->
                            <div class="row mtSM">
                                <title-with-line
                                    title="New Tag" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div id="newRatingContainer" class="col-12">
                                    <label id="newRatingLabel" for="newRatingInput">Tag Name</label>
                                    <input type="text" class="fullWidth brAll customShadow inputHeight"/>
                                </div>
                                <div class="col-12">
                                    <div class="newRatingButtonsRow mtXSM">
                                        <div id="cancelTag" class="btNegativeStyle brAll ptSM pbSM textCenter mtXSM mbXSM">Clear</div>
                                        <div id="shareTag" class="bgDarkNeutral brAll ptSM pbSM mtXSM mbXSM textCenter">Public</div>
                                        <div id="submitTag" class="btPrimaryStyle brAll ptSM pbSM mtXSM mbXSM textCenter">Create Rating</div>
                                    </div>
                                </div>
                                <div id="newRatingsFade"></div>
                            </div><!-- End of Row -->
                        </div><!-- End of New Rating & New Tag -->
                    </div><!-- End of Top Section -->

                    <div class="row mtXXSM">
                        <div class="col-6 limitHeight275 scrollHidden pbSM"><!-- Start of Catg Ratings -->
                            <title-with-line
                                title="Existing Tags" fontSize="28px"
                                lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                            >
                            </title-with-line>
                            <div class="row">
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-fill-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-fill-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-fill-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-fill-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-fill-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-fill-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-fill-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mtSM">
                                        <div class="col-2"><img src="../images/hand-thumbs-up-white.png" class="img-fluid"/></div>
                                        <div class="col-2"><img src="../images/hand-thumbs-down-fill-white.png" class="img-fluid"/></div>
                                        <div class="col-8">Tag Name</div>
                                    </div>
                                </div>
                            </div>
                            <div id="existingTagsFade"></div>
                        </div> <!-- End of Catg Ratings -->
                        <div class="col-6 scrollHidden limitHeight275 g-0">
                            <title-with-line
                                title="Written Review" fontSize="28px"
                                lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                            >
                            </title-with-line>
                            <div class="row g-0">
                                <textarea class="textAreaStyle brAll customShadow"></textarea>
                                <div class="newRatingButtonsRow mtXSM">
                                    <div id="cancelReview" class="btNegativeStyle brAll ptSM pbSM textCenter mtXSM mbXSM">Clear</div>
                                    <div id="shareReview" class="bgDarkNeutral brAll ptSM pbSM mtXSM mbXSM textCenter">Public</div>
                                    <div id="submitReview" class="btPrimaryStyle brAll ptSM pbSM mtXSM mbXSM textCenter">Create Rating</div>
                                </div>
                            </div> 
                        </div>
                    </div>  
                </div> <!-- End of Modal Body -->
            </div> <!--END modal Content-->
        </div><!--END Model Dialog -->
    </div>



    

<!--OffCanvas-->
    <div class="offcanvas-body fontWhite hidden">
        <div class="row">
            <div class="input-group" >
                <input class="form-control brAll m-4 " type="search" placeholder="Search" aria-label="Search">
            </div>
        </div>

        <!--CHeck Boxes list Start here-->
        <ul>
            <h5> Default Categories </h5>
            
            <!--Comedy check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Comedy
                </label>
            </div>
            
            <!--Drama check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Drama
                </label>
            </div>

            <!--Horror check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Horror
                </label>
            </div>

            <!--SCi-Fi check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    sci-Fi
                </label>
            </div>

            <!--Fantasy check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Fantasy
                </label>
            </div>

            <!--Action check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Action
                </label>
            </div>

            <!--Romance check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Romance
                </label>
            </div>

            <!--Adventure check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Adventure
                </label>
            </div>

            <!--War check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    War
                </label>
            </div>

            <!--Biography check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Biography
                </label>
            </div>

            <!--Super Hero check box label-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Super Hero
                </label>
            </div>
        </ul> <!-- END first list-->

        <ul><!--Second List START here-->
            <h5> Frequency Used </h5>

            <!--Romance check box label under Frequency Used-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Romance
                </label>
            </div>

            <!--Adventure check box label under Frequency Used-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Adventure
                </label>
            </div>

            <!--War check box label under Frequency Used-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    War
                </label>
            </div>

            <!--Biography check box label under Frequency Used-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Biography
                </label>
            </div>

            <!--Super Hero check box label under Frequency Used-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                    Super Hero
                </label>
            </div>

        </ul><!--Second list END Here -->
        
    </div>

    <footer>
        <!-- JS imports-->
        <script src="../js/controller.js" type="module"></script>
        <script src="../js/webComps/progress-bar.js" defer></script>
        <script src="../js/webComps/progress-bar-create-modify.js" defer></script>
        <script src="../js/webComps/title-with-line.js" defer></script>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous">
        </script> <!-- Bootstrap 5 bundle -->
    </footer>

</body>
</html>