<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Reel Ratings</title>
    <!-- All imports are local routing or cdns -->
    <link 
        rel="stylesheet" crossorigin="anonymous"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    />
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="../css/global.css"><!-- Link to CSS file -->
</head>

<body class="mbMD">
    <header class="row darkFG g-0 brBottom bcBottom pt-1 pb-1">
        <div class="col-3 offset-1">
            <div class="row">
                <div class="col-2 iconWidth p-0" data-bs-toggle="offcanvas" href="#filterMenu">
                    <img src="../images/list-white.png" class="img-fluid vcToParent" />
                </div> 
                <div class="col-2">
                    <img 
                        src="../images/Reel Rating Logo.png" 
                        alt="Reel-Ratings Logo" 
                        class="img-fluid vcToParent"
                    >
                </div>
                <div class="col-8">
                    <h2 class="text-white mdFont vcToParent">Reel-Ratings</h2>
                </div>
            </div>
        </div>

        <div class="col-3 offset-4">
            <div class="row g-0 vcToParent">
                <div class="input-group" id="searchContainer">
                    <input class="form-control brAll" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <div class="btPrimaryStyle iconWidth pXL prXXL plXXL brRight" type="submit">
                            <img src="../images/search-white.png" alt="search bar logo" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div id="profileIconContainer" class="iconWidth">
                    <img src="../images/bsIconPerson.png" alt="profile picture" class="img-fluid">
                </div>
            </div>
        </div>
    </header>

    <!-- Start of cards -->
    <div class="row"> 
        <div class="col-10 offset-1">
            <div class="mtSM">
                <title-with-line
                    title="New Movies" fontSize="28px"
                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                >
                </title-with-line>
            </div>
            <div class="carousel slide mtXXSM row" data-bs-ride="carousel" id="recentReleaseCarousel">
                <!-- Filled with JS -->
            </div>
            <div class="mtSM">
                <title-with-line
                    title="Most Reviewed" fontSize="28px"
                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                >
                </title-with-line>
            </div>
            <div class="carousel slide mtXXSM row" data-bs-ride="carousel" id="mostReviewedCarousel">
                <!-- Filled with JS -->
            </div>
        </div>
    </div>




    <!-- Modals -->
    <div class="modal fade" id="showMoreModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
        <div class="modal-dialog fontWhite hcToWindow">
            <div class="modal-content darkFG">
                <div class="modal-body"><!-- Modal Body -->
                    <div class="row"><!-- Modal Header -->
                        <h2 class="col-6 lgFont fontWhite hideOverflow" id="showMoreTitle"><!--Filled with JS--></h2>
                        <div class="col-6">
                            <div id="modalActionButtonsRow">
                                <a 
                                    class="btCalloutStyle mdFont textCenter brAll hLG rateToggle hideOverflow px-2" 
                                    data-bs-toggle="modal" data-bs-target="#rateModal" id="rateButton"
                                >
                                    <!-- Filled with JS -->
                                </a>
                                <a class="brAll bgNeutral centerImg brAll hLG notImplemented"><!--Share Button Logo-->
                                    <img src="../images/share.png" alt="Share Button logo" class="img-fluid iconWidth">
                                </a>
                                <a class="discordColor centerImg brAll hLG notImplemented"><!--Discord Button Logo-->
                                    <img src="../images/Discord.png" alt="discord-logo Button" class="img-fluid iconWidth">
                                </a>
                                <a class="close brAll" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="../images/close-purple-with-white-x.png" class="img-fluid iconWidth"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row"> <!-- Top Section container / Row -->
                        <div class="col-6"><!-- Image container -->
                            <img
                                id="showMoreImg" 
                                src="../images/stockImage1.jpg" 
                                alt="Barbie Movie Image" 
                                class="img-fluid brAll limitHeight325"
                            >
                        </div>
                        <div class="col-6" id="showMoreGeneralContainer"><!-- General Information -->
                            <div class="row scrollHidden limitHeight325 pbSM">
                                <title-with-line
                                    title="General" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div class="mtXSM col-12" id="showMoreSummary"><!-- Filled with JS --></div>
                                <div class="mtXSM col-3 mdFont">Director</div>
                                <div class="mtXSM col-3 mdFont">Writer</div>
                                <div class="mtXSM col-3 mdFont">Released</div>
                                <div class="mtXSM col-3 mdFont">Runtime</div>
                                <div class="col-3" id="showMoreDirector"><!-- Filled with JS --></div>
                                <div class="col-3" id="showMoreWriter"><!-- Filled with JS --></div>
                                <div class="col-3" id="showMoreReleaseDate"><!-- Filled with JS --></div>
                                <div class="col-3" id="showMoreRuntime"><!-- Filled with JS --></div>

                                <div class="col-12 mdFont mtXSM">Actors</div>
                                <div class="col-12" id="showMoreActorsContainer"> <!-- Filled with JS --></div>
                                <div class="col-12 mdFont mtXSM">Tags</div>
                                <div class="col-12" id="showMoreTagsContainer"> <!-- Filled with JS --></div>
                                <div id="generalDarkFade"></div>
                            </div> <!-- End of Row -->
                        </div> <!-- End of General -->
                    </div> <!-- End of Top Section -->
                    
                    <div class="row"> 
                        <div class="col-6"><!-- Start of Catg Ratings -->
                            <div class="row limitHeight325 scrollHidden pbSM">
                                <title-with-line
                                    title="Categories" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div id="ratingsContainer"><!-- Filled with JS --></div>
                                <div id="categoriesDarkFade"></div>
                            </div>
                        </div> <!-- End of Catg Ratings -->
                        <div class="col-6">
                            <div class="row scrollHidden limitHeight325 m-0 pbSM">
                                <title-with-line
                                    title="Freinds" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                    class="mbXSM"
                                >
                                </title-with-line>
                                <div id="friendsContainer"></div>
                            </div>
                            <div id="friendsDarkFade"></div>
                        </div>
                    </div>
                </div> <!-- End of Modal Body -->
            </div> <!--END modal Content-->
        </div><!--END Model Dialog -->
    </div><!--END of Show More Model-->  
    
    



    <div class="modal" id="rateModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
        <div class="modal-dialog fontWhite hcToWindow">
            <div class="modal-content darkFG">
                <div class="modal-body"><!-- Modal Body -->
                    <div class="row"><!-- Modal Header -->
                        <h2 class="col-6 lgFont fontWhite hideOverflow" id="ratingTitle"></h2>
                        <div class="col-6">
                            <div id="ratingActionButtonRow">
                                <a class="bgDarkNeutral mdFont textCenter brAll hLG rateToggle fontWhite" data-bs-dismiss="modal" aria-label="Back">Back</a>
                                <a class="close brAll" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="../images/close-purple-with-white-x.png" class="img-fluid iconWidth"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row"> <!-- Top Section container / Row -->
                        <div class="col-6 limitHeight325 scrollHidden"><!-- Existing Ratings -->
                            <div class="row">
                                <title-with-line
                                    title="Existing Ratings" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div id="ratingsExsistingCat"><!-- Filled with JS --></div>
                            </div>
                            <div id="existingCategoriesFade"></div>
                        </div>
                        <div class="col-6 limitHeight325 scrollHidden pbSM"><!-- General Information -->
                            <div class="row g-0">
                                <title-with-line
                                    title="New Rating" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div id="newRatingContainer" class="col-12">
                                    <label id="newRatingLabel" for="newRatingInput">Rating Name</label>
                                    <input type="text" class="fullWidth brAll inputHeight"/>
                                </div>
                                <div id="ratingScaleContainer" class="col-5 mtXSM">
                                    <div class="row g-0">
                                        <div class="col-12">Scale</div>
                                        <div class="col-5">
                                            <label id="ratingScaleLabelStart" for="ratingScaleStart" class="hidden">Start</label>
                                            <select class="form-select brAll" aria-label="Rating scale start" id="ratingScaleStart">
                                                <option selected value="1">1</option>
                                            </select>
                                        </div>
                                        <div class="col-2 textCenter">to</div>
                                        <div class="col-5">
                                            <label id="ratingScaleLabelEnd" for="ratingScaleEnd" class="hidden">End</label>
                                            <select class="form-select brAll" aria-label="Rating scale end" id="ratingScaleEnd">
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option selected value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="ratingValue" class="col-7 mtXSM plXXSM">
                                    <div class="row">
                                        <div class="col-12">
                                            <label id="newRatingValueLabel" for="newRatingValueInput">Rating Value</label>
                                            <div id="progressBarForRating"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="newRatingButtonsRow mtXSM">
                                    <div id="cancelRating" class="btNegativeStyle brAll ptSM pbSM textCenter mtXSM mbXSM">Clear</div>
                                    <div id="shareRating" class="bgDarkNeutral brAll ptSM pbSM mtXSM mbXSM textCenter">Public</div>
                                    <div id="submitRating" class="btPrimaryStyle brAll ptSM pbSM mtXSM mbXSM textCenter">Create Rating</div>
                                </div>
                            </div> <!-- End of Row -->
                            <div class="row mtSM">
                                <title-with-line
                                    title="New Tag" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div id="newRatingContainer" class="col-12">
                                    <label id="newRatingLabel" for="newRatingInput">Tag Name</label>
                                    <input type="text" class="fullWidth brAll customShadow inputHeight"/>
                                </div>
                                <div class="col-12">
                                    <div class="newRatingButtonsRow mtXSM">
                                        <div id="cancelTag" class="btNegativeStyle brAll ptSM pbSM textCenter mtXSM mbXSM">Clear</div>
                                        <div id="shareTag" class="bgDarkNeutral brAll ptSM pbSM mtXSM mbXSM textCenter">Public</div>
                                        <div id="submitTag" class="btPrimaryStyle brAll ptSM pbSM mtXSM mbXSM textCenter">Create Rating</div>
                                    </div>
                                </div>
                            </div><!-- End of Row -->
                            <div class="row mtSM">
                                <title-with-line
                                    title="New Up/Down Vote" fontSize="28px"
                                    lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                                >
                                </title-with-line>
                                <div id="newRatingContainer" class="col-12">
                                    <label id="newRatingLabel" for="newRatingInput">Up/Down Name</label>
                                    <input type="text" class="fullWidth brAll customShadow inputHeight"/>
                                </div>
                                <div class="col-12">
                                    <div class="newRatingButtonsRow mtXSM">
                                        <div id="cancelUpDown" class="btNegativeStyle brAll ptSM pbSM textCenter mtXSM mbXSM">Clear</div>
                                        <div id="shareUpDown" class="bgDarkNeutral brAll ptSM pbSM mtXSM mbXSM textCenter">Public</div>
                                        <div id="submitUpDown" class="btPrimaryStyle brAll ptSM pbSM mtXSM mbXSM textCenter">Create Rating</div>
                                    </div>
                                </div>
                            </div><!-- End of Row -->
                            <div id="newRatingsFade"></div>
                        </div><!-- End of New Rating & New Tag -->
                    </div><!-- End of Top Section -->

                    <div class="row">
                        <div class="col-6 limitHeight300 scrollHidden mtXXSM pbSM"><!-- Start of Catg Ratings -->
                            <title-with-line
                                title="Existing Tags" fontSize="28px"
                                lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                            >
                            </title-with-line>
                            <div class="row" id="upDownContainer"><!-- Filled with JS --></div>
                            <div id="existingTagsFade"></div>
                        </div> <!-- End of Catg Ratings -->
                        <div class="col-6 scrollHidden limitHeight325 mtXXSM pbSM g-0">
                            <title-with-line
                                title="Written Review" fontSize="28px"
                                lineColorOne="#3d37bf" lineColorTwo="#6864ca"
                            >
                            </title-with-line>
                            <div class="row g-0">
                                <textarea class="textAreaStyle brAll customShadow"></textarea>
                                <div class="newRatingButtonsRow mtXSM">
                                    <div id="cancelReview" class="btNegativeStyle brAll ptSM pbSM textCenter mtXSM mbXSM">Clear</div>
                                    <div id="shareReview" class="bgDarkNeutral brAll ptSM pbSM mtXSM mbXSM textCenter">Public</div>
                                    <div id="submitReview" class="btPrimaryStyle brAll ptSM pbSM mtXSM mbXSM textCenter">Create Rating</div>
                                </div>
                            </div> 
                        </div>
                    </div>  
                </div> <!-- End of Modal Body -->
            </div> <!--END modal Content-->
        </div><!--END Model Dialog -->
    </div>


<!--OffCanvas-->
    <div class="offcanvas offcanvas-start darkFG fontWhite" data-bs-backdrop="false" tabindex="-1" id="filterMenu">
        <div class="row">
            <div class="col-10">
                <input class="form-control brAll fullWidth" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-2">
                <a class="close brAll text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                    <img src="../images/close-purple-with-white-x.png" class="img-fluid iconWidth"/>
                </a>
            </div>
        </div>
        <div class="offcanvas-body">
            <div class="lgFont mtMD">Filters</div>
            <div id="filterContainer">
                
            </div>
    
            <div class="lgFont mtMD">Popular Filters</div> 
            <div id="freqFilterContainer">
    
            </div>
        </div>
    </div>

    <footer>
        <!-- JS imports-->
        <script src="../js/controller.js" type="module"></script>
        <script src="../js/webComps/progress-bar.js" defer></script>
        <script src="../js/webComps/progress-bar-create-modify.js" defer></script>
        <script src="../js/webComps/title-with-line.js" defer></script>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous">
        </script> <!-- Bootstrap 5 bundle -->
    </footer>

</body>
</html>