<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.0</feature>
        <feature>mpJwt-2.1</feature>
    </featureManager>

    <!-- This template enables security. To get the full use of all the capabilities, a keystore and user registry are required. -->

    <!-- For the keystore, default keys are generated and stored in a keystore. To provide the keystore password, generate an 
        encoded password using bin/securityUtility encode and add it below in the password attribute of the keyStore element. 
        Then uncomment the keyStore element. -->
    <!--
    <keyStore password=""/> 
    -->
    <mpJwt 
        id="reel_rating_token" tokenHeader="Authorization" 
        issuer="${AUTH_SERVICE_URL}" audiences="reel-rating" 
        SignatureAlgorithm="RS512" jwksUri="${JWK_URI}"
    />

    <!--For a user registry configuration, configure your user registry. For example, configure a basic user registry using the
        basicRegistry element. Specify your own user name below in the name attribute of the user element. For the password,
        generate an encoded password using bin/securityUtility encode and add it in the password attribute of the user element.
        Then uncomment the user element. -->
    <basicRegistry>
        <!--
        <user name="yourUserName" password="" />
        -->
    </basicRegistry>

    <jwtBuilder id="reel_rating_token" expiresInSeconds="60" jwkEnabled ="true" SignatureAlgorithm="RS512"/>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint 
        id="defaultHttpEndpoint" host="*"
        httpPort="30500" httpsPort="9443" 
    />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="/reel-rating-auth-service" location="reel-rating-auth-service.war" />

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <cors domain="/reel-rating-auth-service/auth"
        allowedOrigins="*"
        allowedHeaders="*"
        allowedMethods="GET, POST"
        allowCredentials="true"/>
</server>
