

/* Global Style */
:root{
    --transDur : .3s;
    --mainColor : #3D37BF;
    --secondaryColor : #6864CA;
    --neutralColor : #E5E5E5;
    --backgroundColor : #1B1B1B;
    --darkFG : #2B2B2B;
    
    --radius : 15px; /* border radius amount */

    /* values come from the golden ratio */
    --xxl : 32.3%;
    --xl : 20%;
    --lg : 12.3%;
    --md : 7.6%;
    --sm : 4.6%;
    --xsm : 2.8%;
    --xxsm : 1.730%;

    /* values come from the golden ratio */
    --xlPX : 60px;
    --lgPX : 37px;
    --medPX : 23px;
    --smPX : 14px;
    --xsPX : 9px;
    --buttonPX : 27px;

    --darkGrad : linear-gradient(
        90deg, 
        #000 0%, 
        rgba(0, 0, 0, 0.63) 57.81%, 
        rgba(217, 217, 217, 0.00) 
        100%
    )
}

/*  Over write bootstrap styles that conflict  */
#searchContainer{
    width : 90%;
}

body{ font-family: Arial, Helvetica, sans-serif; background-color: var(--backgroundColor); }
.darkFG{ background-color : var(--darkFG) }
.fontWhite{ color : white; }
.textCenter{ text-align : center; }
.fullWidth{ width : 100%; }
.bgPrimary{ background-color: var(--mainColor);}
.bgPrimary:hover{background-color: var(--secondaryColor); transition: var(--transDur);}
.bgNeutral{ background-color: var(--neutralColor);}
.bgNeutral:hover{background-color: var(--successColor); transition: var(--transDur); color:white;}
.hidden{ display : none; }
.error{ width : 98%; margin-left: 1%; margin-right:1%; }
.vDiv{ border-left: solid; border-left-color:white;}
.ofVert{ overflow-y: scroll; }
.modal-header.row > .modalClose{ margin-right : 10px; }
.iconWidth { width : var(--lgPX); }

/* Font Sizes */
.xlFont{ font-size : var(--xlPX) }
.lgFont{ font-size : var(--lgPX) }
.mdFont{ font-size : var(--medPX) }
.smFont{ font-size : var(--smPX) }
.xsFont{ font-size : var(--xsPX) }
.buttonFont { font-size: var(--buttonPX); }


/* Margins */
.mtXXL{ margin-top: var(--xxl); }
.mtXL{ margin-top: var(--xl); }
.mtLG{ margin-top: var(--lg); }
.mtMD{ margin-top: var(--md); }
.mtSM{ margin-top: var(--sm); }
.mtXSM{ margin-top: var(--xsm); }

.mbXXL{ margin-bottom: var(--xxl); }
.mbXL{ margin-bottom: var(--xl); }
.mbLG{ margin-bottom: var(--lg); }
.mbMD{ margin-bottom: var(--md); }
.mbSM{ margin-bottom: var(--sm); }
.mbXSM{ margin-bottom: var(--xsm); }


/* Padding */
.ptXXL{ padding-top: var(--xxl); }
.ptXL{ padding-top: var(--xl); }
.ptLG{ padding-top: var(--lg); }
.ptMD{ padding-top: var(--md); }
.ptSM{ padding-top: var(--sm); }
.ptXSM{ padding-top: var(--xsm); }
.ptXXSM{ padding-top: var(--xxsm); }


.pbXXL{ padding-bottom: var(--xxl); }
.pbXL{ padding-bottom: var(--xl); }
.pbLG{ padding-bottom: var(--lg); }
.pbMD{ padding-bottom: var(--md); }
.pbSM{ padding-bottom: var(--sm); }
.pbXSM{ padding-bottom: var(--xsm); }


/* Border Radius */
.brAll{ border-radius: var(--radius); }
.brTop{ 
    border-top-right-radius: var(--radius); 
    border-top-left-radius: var(--radius); 
}
.brBottom{ 
    border-bottom-right-radius: var(--radius); 
    border-bottom-left-radius: var(--radius); 
}
.brRight{ 
    border-top-right-radius: var(--radius); 
    border-bottom-right-radius: var(--radius); 
}
.brLeft{
    border-top-left-radius: var(--radius); 
    border-bottom-left-radius: var(--radius); 
}





/* Desktop */
#backgroundGrad{
    background: var(--darkGrad), url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainLogo { 
    padding-left : var(--lg);
    padding-right : var(--lg);
}

#searchBarBackground{ background-color: white; }
#searchBar { 
    width:93%; 
    border-right: none;
}
#searchIcon{
    border : solid;
    border-left: none;
    max-height: 100%;
}

.tagScore{
    padding:var(--xsPX);
    background-color : rgba(0, 255, 123, .7);
}

#ratingsContainer{ height : 200px; }
#generalContent{ height : 100px; }
#profileIconContainer{ margin-left : 2%; }

/* Tablet */



/* Mobile */
