


/* Global Style */
:root{
    --transDur : .3s;
    --sliderTrans : 4s ease-in-out;
    --mainColor : #3d37bf;
    --secondaryColor : #6864ca;
    --maxRatingColor : #00ff00;
    --neutralColor : #eeeeee;
    --neutralHover : #f3f3f3;
    --darkNeutral : #878787;
    --backgroundColor : #1b1b1b;
    --darkFG : #2b2b2b;
    --discordColor : #5165f6;
    --cardTextHeight : 130px;
    --modalHeight : 733px;
    --modalWidth : 1186px;
    
    --radius : 15px; /* border radius amount */

    /* values come from the golden ratio */
    --xxl : 32.3%;
    --xl : 20%;
    --lg : 12.3%;
    --md : 7.6%;
    --sm : 4.6%;
    --xsm : 2.8%;
    --xxsm : 1.730%;

    /* values come from the golden ratio */
    --xlPX : 60px;
    --lgPX : 37px;
    --medPX : 23px;
    --smPX : 14px;
    --xsPX : 9px;
    --xxsPX : 5px;
    --buttonPX : 27px;

    --darkGrad : linear-gradient(
        90deg, 
        #000 0%, 
        rgba(0, 0, 0, 0.63) 57.81%, 
        rgba(217, 217, 217, 0.00) 
        100%
    );

    --purpleGrad : linear-gradient(
        180deg,
        #3D37BF 0%, 
        #6864CA 47.4%, 
        #3D37BF 100%
    );

    --greenGrad : linear-gradient(
        180deg,
        #00d80e 0%, 
        #00ff00 47.4%, 
        #00d80e 100%
    );

    --redGrad : linear-gradient(
        180deg,
        #bd0404 0%, 
        #ff0000 47.4%, 
        #bd0404 100%
    );

    --shadow : 0px 2px 2px 0px rgba(0, 0, 0, 0.50);
    --shadowCard : 0px 0px 4px 4px #FFF;

    --fadeAwayNeutral : linear-gradient(0deg, rgba(238,238,238, 1), rgba(238,238,238, 0.50) 39.29%, rgba(238,238,238, 0.00) 79.86%);
    --fadeAwayDark : linear-gradient(0deg, rgba(43, 43, 43, 1), rgba(43, 43, 43, 0.50) 39.29%, rgba(43, 43, 43, 0.00) 79.86%);

}

a{
    text-decoration: none;
    color : black;
}

/*  Over write bootstrap styles that conflict  */
#searchContainer{
    width : 80%;
}

.card-text{
    height : var(--cardTextHeight);
    overflow-y : hidden;
}

.card{ box-shadow: var(--shadowCard); }

.card, .card-img-top{
    border-radius: var(--radius);
}

.carousel-item{ transition: var(--sliderTrans);}
.modal-dialog{ margin-left: 0; margin-right:0; }
.modal-content{
    height : var(--modalHeight);
    width : var(--modalWidth);
}
.modal-body{
    height : var(--modalHeight);
    width : var(--modalWidth);
}

body{ font-family: Arial, Helvetica, sans-serif; background-color: var(--backgroundColor); }
.darkFG{ background-color : var(--darkFG) }
.textCenter{ text-align : center; }
.textRight { text-align: right; }
.fullWidth{ width : 100%; }
.fontWhite{ color: white; }
.fontBlack{ color: black; }
.bgPrimary{ background-color: var(--mainColor);}
.bgPrimary:hover{background-color: var(--secondaryColor); transition: var(--transDur);}
.bgNeutral{ background-color: var(--neutralColor);}
.bgNeutral:hover{background-color: var(--neutralHover); transition: var(--transDur);}
.bgDarkNeutral{ background-color: var(--darkNeutral); }
.bgSecondary{ background-color: var(--secondaryColor);}
.hidden{ display : none; }
.error{ width : 98%; margin-left: 1%; margin-right:1%; }
.vDiv{ border-left: solid; border-left-color:white;}
.ofVert{ overflow-y: scroll; }
.modal-header.row > .modalClose{ margin-right : 10px; }
.iconWidth { width : var(--lgPX); }
.btPrimaryStyle{ background: var(--purpleGrad);}
.btCalloutStyle{ background: var(--greenGrad);}
.btNegativeStyle{ background: var(--redGrad);}
.customShadow { box-shadow: var(--shadow); }
.fadeAwayNeutral{ 
    background: var(--fadeAwayNeutral); 
    position: absolute;
    z-index: 1;
    height: var(--cardTextHeight);
    width:90%;
}
.pointerCursor{ cursor: pointer; }
.discordColor { background-color: var(--discordColor); }
.centerImg{ display:grid; justify-content: center; align-items: center;}
.followedReview{ background-color: var(--neutralColor); }
.personName{ color:black; }
.scrollHidden{ overflow-y: scroll; }
.limitHeight350{ height : 350px; }
.limitHeight325{ height : 325px; }
.limitHeight300{ height : 300px; }
.textAreaStyle{ height: 175px; }
.inputHeight{ height : 35px; }

/* Font Sizes */
.xlFont{ font-size : var(--xlPX) }
.lgFont{ font-size : var(--lgPX) }
.mdFont{ font-size : var(--medPX) }
.smFont{ font-size : var(--smPX) }
.xsFont{ font-size : var(--xsPX) }
.buttonFont { font-size: var(--buttonPX); }


/* Font Color */
.primaryColorFont{ color: var(--mainColor);}
.secondaryColorFont{ color: var(--secondaryColor);}


/* Margins */
.mtXXL{ margin-top: var(--xxl); }
.mtXL{ margin-top: var(--xl); }
.mtLG{ margin-top: var(--lg); }
.mtMD{ margin-top: var(--md); }
.mtSM{ margin-top: var(--sm); }
.mtXSM{ margin-top: var(--xsm); }
.mtXXSM{ margin-top: var(--xxsm); }

.mbXXL{ margin-bottom: var(--xxl); }
.mbXL{ margin-bottom: var(--xl); }
.mbLG{ margin-bottom: var(--lg); }
.mbMD{ margin-bottom: var(--md); }
.mbSM{ margin-bottom: var(--sm); }
.mbXSM{ margin-bottom: var(--xsm); }

.mrXXL{ margin-right: var(--xxl); }
.mrXL{ margin-right: var(--xl); }
.mrLG{ margin-right: var(--lg); }
.mrMD{ margin-right: var(--md); }
.mrSM{ margin-right: var(--sm); }
.mrXSM{ margin-right: var(--xsm); }

.mlXXL{ margin-left: var(--xxl); }
.mlXL{ margin-left: var(--xl); }
.mlLG{ margin-left: var(--lg); }
.mlMD{ margin-left: var(--md); }
.mlSM{ margin-left: var(--sm); }
.mlXSM{ margin-left: var(--xsm); }


/* Padding */
.pXXL{ padding: var(--xxl); }
.pXL{ padding: var(--xl); }
.pLG{ padding: var(--lg); }
.pMD{ padding: var(--md); }
.pSM{ padding: var(--sm); }
.pXSM{ padding: var(--xsm); }
.pXXSM{ padding: var(--xxsm); }

.ptXXL{ padding-top: var(--xxl); }
.ptXL{ padding-top: var(--xl); }
.ptLG{ padding-top: var(--lg); }
.ptMD{ padding-top: var(--md); }
.ptSM{ padding-top: var(--sm); }
.ptXSM{ padding-top: var(--xsm); }
.ptXXSM{ padding-top: var(--xxsm); }

.prXXL{ padding-right: var(--xxl); }
.prXL{ padding-right: var(--xl); }
.prLG{ padding-right: var(--lg); }
.prMD{ padding-right: var(--md); }
.prSM{ padding-right: var(--sm); }
.prXSM{ padding-right: var(--xsm); }
.prXXSM{ padding-right: var(--xxsm); }

.plXXL{ padding-left: var(--xxl); }
.plXL{ padding-left: var(--xl); }
.plLG{ padding-left: var(--lg); }
.plMD{ padding-left: var(--md); }
.plSM{ padding-left: var(--sm); }
.plXSM{ padding-left: var(--xsm); }
.plXXSM{ padding-left: var(--xxsm); }


.pbXXL{ padding-bottom: var(--xxl); }
.pbXL{ padding-bottom: var(--xl); }
.pbLG{ padding-bottom: var(--lg); }
.pbMD{ padding-bottom: var(--md); }
.pbSM{ padding-bottom: var(--sm); }
.pbXSM{ padding-bottom: var(--xsm); }
.pbXXSM{ padding-bottom: var(--xxsm); }


/* Border Radius */
.brAll{ border-radius: var(--radius); }
.brTop{ 
    border-top-right-radius: var(--radius); 
    border-top-left-radius: var(--radius); 
}
.brBottom{ 
    border-bottom-right-radius: var(--radius); 
    border-bottom-left-radius: var(--radius); 
}
.brRight{ 
    border-top-right-radius: var(--radius); 
    border-bottom-right-radius: var(--radius); 
}
.brLeft{
    border-top-left-radius: var(--radius); 
    border-bottom-left-radius: var(--radius); 
}

/* Height */
.hXL{ max-height: var(--xlPX); }
.hLG{ max-height: var(--lgPX); }
.hMD{ max-height: var(--medPX); }
.hSM{ max-height: var(--smPX); }
.hXSM{ max-height: var(--xsPX); }
.hXXSM{ max-height: var(--xxsPX); }


/* Border Color */
.bcAll{ border: solid; border-color: var(--secondaryColor); }
.bcTop{ border: solid; border-top-color: var(--secondaryColor); }
.bcBottom{ border: solid; border-bottom-color : var(--secondaryColor); }
.bcRight{ border: solid; border-right-color : var(--secondaryColor); }
.bcLeft{ border: solid; border-left-color : var(--secondaryColor); }


/* CSS Grid */
.carouselRow{
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.modalHeaderRow{
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
}
.modalRate{ grid-column: 1 / span 5; }

.modalShare{ grid-column: 6 / span 2; }

.modalExit{ grid-column: 10 / span 2; }


#modalActionButtonsRow{
    display: grid;
    grid-template-columns: 13fr 4fr 4fr 3fr;
    column-gap: var(--smPX);
}


#ratingActionButtonRow{
    display: grid;
    grid-template-columns: 21fr 3fr;
    column-gap: var(--smPX);
}

.newRatingButtonsRow{
    display: grid;
    grid-template-columns: repeat(48, 1fr);
}

#cancelRating, #cancelTag, #cancelReview{ 
    grid-column: 1 / span 14; 
}
#shareRating, #shareTag, #shareReview{ 
    grid-column: 22 / span 12;
}
#submitRating, #submitTag, #submitReview{ 
    grid-column: 36 / span 12; 
}










/* Desktop */
#backgroundGrad{
    background: var(--darkGrad), url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainLogo { 
    padding-left : var(--lg);
    padding-right : var(--lg);
}

#searchBarBackground{ background-color: white; }
#searchIcon{
    border : solid;
    border-left: none;
    max-height: 100%;
}

.tagScore{
    padding:var(--xsPX);
    background-color : rgba(0, 255, 123, .7);
}

#ratingsContainer{ height : 200px; }
#generalContent{ height : 100px; }
#profileIconContainer{ margin-left : 2%; }

/* Tablet */



/* Mobile */



/* Show More Modal */
#generalDarkFade, #existingCategoriesFade, #newRatingsFade{
    background: var(--fadeAwayDark);
    position: absolute;
    z-index: 1;
    top: 335px;
    height: 60px;
    width: 49%;
}

#categoriesDarkFade, #friendsDarkFade, #existingTagsFade{
    background: var(--fadeAwayDark);
    position: absolute;
    z-index: 1;
    top: 665px;
    height: 60px;
    width: 49%;
}
