



body {
    background: 
        linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.63) 57.81%, rgba(217, 217, 217, 0.00) 100%),
        url('../images/background.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
    text-align: center; /* Center the content horizontally */
}



































/* styles.css */

/* Background Styles */
body {
    background: 
        linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.63) 57.81%, rgba(217, 217, 217, 0.00) 100%),
        url('../images/background.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
    text-align: center; /* Center the content horizontally */
}

/* Container Styles */
.container {
    padding: 1.25em; /* Adjusted for relative sizing */
    border-radius: 0.625em; /* Adjusted for relative sizing */
    margin: 10% 0 0 10%; /* Adjusted margin for left alignment */
    text-align: left;
}

/* Logo Styles */
.logo {
    display: flex;
    align-items: center;
    text-align: left;
}

.logo img {
    width: 3.125em; /* Adjusted for relative sizing */
    height: auto;
}

.logo h1 {
    font-size: 2.125em; /* Adjusted for relative sizing */
    font-family: Arial, sans-serif;
    color: #fff;
    margin-left: 0.9375em; /* Adjusted for relative sizing */
}

/* Input Field Styles */
.input-container {
    margin-top: 1.25em; /* Adjusted for relative sizing */
    text-align: left;
}

.input-container input {
    width: 100%;
    height: 2.8125em; /* Adjusted for relative sizing */
    padding: 0.625em; /* Adjusted for relative sizing */
    margin-bottom: 1.875em; /* Adjusted for relative sizing */
    border: 0.0625em solid #ccc; /* Adjusted for relative sizing */
    border-radius: 0.625em; /* Adjusted for relative sizing */
}

.input-container label {
    color: #fff;
}

/* Forgot Password Link Styles */
.forgot-password {
    text-align: center;
    color: #fff;
    font-style: italic;
    margin-top: -1.25em; /* Adjusted for relative sizing */
}

/* Buttons Styles */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25em; /* Adjusted for relative sizing */
    text-align: left;
}

.buttons button {
    width: 48%; /* Adjusted for spacing */
    padding: 0.625em; /* Adjusted for relative sizing */
    border: none;
    border-radius: 0.3125em; /* Adjusted for relative sizing */
    cursor: pointer;
}

.signin-button {
    background-color: #3D37BF;
    color: #fff;
}

.new-account-button {
    background-color: #fff;
    color: #000;
}
 
